<!-- Describe task in general -->

<p>
    On vous donne {% if is_js %}un tableau <span>(array)</span> de nombres <span>(numbers)</span>{% else %}une liste <span>(list)</span> d'entiers <span>(integers)</span>{% endif %}, qui sont des éléments de la progression arithmétique - la différence entre les éléments consécutifs est constante.
    Mais ce {% if is_js %}tableau <span>(array)</span>{% else %}liste <span>(list)</span>{% endif %} n'est pas trié et il manque un élément...bonne chance!

</p>

<!-- Explain input and output values -->
<p>
   <strong>Entrée:</strong> {% if is_js %}Tableau <span>(array)</span> de nombres <span>(numbers)</span>{% else %}Liste <span>(list)</span> d'entiers <span>(integers)</span>{% endif %}.
</p>

<p>
   <strong>Sortie:</strong> {% if is_js %}Nombre <span>(number)</span>{% else %}Entier <span>(integer)</span>{% endif %}. 
</p>


<p>
    <strong>Exemples:</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<p>
    <strong>Conditions préalables:</strong>
    <li><i>longueur de la séquence &gt; 2;</i></li>
    <li><i>l'élément manquant se trouve toujours entre deux éléments de la séquence.</i></li>
</p>
