<!-- Describe task in general -->

<p>
    On vous donne {% if is_js %}un tableau <span>(array)</span> de nombres <span>(numbers)</span>{% else %} une liste <span>(list)</span> d'entiers <span>(integers)</span>{% endif %} , qui sont des éléments de la progression arithmétique - la différence entre les éléments consécutifs est constante.
    Mais ce tableau {% if is_js %} <span>(array)</span> {% else %} liste <span>(list)</span>{% endif %} n'est pas trié et il manque un élément...bonne chance!

</p>

<!-- Explain input and output values -->
<p>
   <strong>Entrée:</strong> {% if is_js %}Tableau <span>(Array)</span> de nombres <span>(numbers)</span>{% else %} Liste <span>(List)</span> d'entiers <span>(integers)</span>{% endif %}.
</p>

<p>
   <strong>Sortie:</strong> {% if is_js %}Nombre <span>(Number)</span>{% else %} Entier <span>(Integer)</span>{% endif %}. 
</p>


<p>
    <strong>Exemples:</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<p>
    <strong>Conditions préalables:</strong>
    <li><i>longueur de la séquence &gt; 2;</i></li>
    <li><i>l'élément manquant se trouve toujours entre deux éléments de la séquence.</i></li>
</p>
