<!-- Describe task in general -->

<p>
    You are given {% if is_js %}an <span translate="repeat">array</span> of <span translate="repeat">numbers</span>{% else %}a <span translate="repeat">list</span> of <span translate="repeat">integers</span>{% endif %}, which are elements of arithmetic progression - the difference between the consecutive elements is constant.
    But this {% if is_js %}<span translate="repeat">array</span>{% else %}<span translate="repeat">list</span>{% endif %} is unsorted and one element is missing...good luck!

</p>

<!-- Explain input and output values -->
<p>
    <strong>Input:</strong> {% if is_js %}<span translate="repeat">Array</span> of <span translate="repeat">numbers</span>{% else %}<span translate="repeat">List</span> of <span translate="repeat">integers</span>{% endif %}.
</p>

<p>
    <strong>Output:</strong> {% if is_js %}<span translate="repeat">Number</span>{% else %}<span translate="repeat">Integer</span>{% endif %}. 
</p>


<p>
    <strong>Examples:</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<p>
    <strong>Preconditions:</strong>
    <li><i>length of sequence > 2;</i></li>
    <li><i>missing element is always between two elements in sequence.</i></li>
</p>
